<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
    <defaultDocument>
      <files>
        <remove value="index.php" />
        <add value="index.php" />
     </files>
    </defaultDocument>
    <rewrite>
      <rules>
        <clear />
        <rule name="RequestBlockingRule1" patternSyntax="Wildcard" stopProcessing="true">
          <match url="*" />
          <conditions logicalGrouping="MatchAll">
            <add input="{REMOTE_ADDR}" negate="true" pattern="127.0.0.1" />
            <add input="{URL}" pattern="*.ss" />
          </conditions>
          <action type="CustomResponse" statusCode="403" />
        </rule>
        <rule name="SilverStripe Clean URLs" stopProcessing="true">
          <match url="^(.*)$" />
          <conditions logicalGrouping="MatchAll">
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
          </conditions>
          <action type="Rewrite" url="sapphire/main.php?url={R:1}" appendQueryString="true" />
        </rule>
      </rules>
    </rewrite>
  </system.webServer>
</configuration>
