/* line 3, ../scss/form.scss */
form {
  /* FIELD FORMATING
  ---------------------------------------- */
  /* SELECT DROPDOWN
  ---------------------------------------- */
  /* LABELS
  ---------------------------------------- */
  /* CHECKBOXES
  ---------------------------------------- */
  /* MESSAGEBOXS
  --------------------------------------------- */ }
/* line 4, ../scss/form.scss */
form input.action, form input.text, form textarea, form select {
  font-family: Helvetic, Arial, sans-serif;
  font-size: 13px;
  color: #333333;
  padding: 2px;
  /* INPUT BOXS
  ---------------------------------------- */
  /* ACTION BUTTONS
  ---------------------------------------- */ }
/* line 16, ../scss/form.scss */
form input.action.action, form input.text.action, form textarea.action, form select.action {
  cursor: pointer; }
/* line 23, ../scss/form.scss */
form ul {
  list-style: none; }
/* line 26, ../scss/form.scss */
form .middleColumn {
  display: block;
  margin: 0 10px 10px 0;
  background: #E9E9E9;
  padding: 4px;
  width: 306px;
  clear: left; }
/* line 34, ../scss/form.scss */
form .middleColumn .middleColumn {
  margin-left: 0;
  margin-right: 0;
  padding: 0; }
/* line 39, ../scss/form.scss */
form .middleColumn .message {
  margin: 0; }
/* line 46, ../scss/form.scss */
form select {
  width: auto; }
/* line 52, ../scss/form.scss */
form .typography label {
  display: block;
  margin: 10px 0 5px 0;
  color: #777;
  font-size: 13px; }
/* line 58, ../scss/form.scss */
form label.right {
  display: inline; }
/* line 64, ../scss/form.scss */
form ul.optionset {
  margin: 0;
  overflow: hidden; }
/* line 68, ../scss/form.scss */
form ul.optionset li {
  margin: 6px 0;
  clear: both; }
/* line 72, ../scss/form.scss */
form ul.optionset li input {
  float: left;
  margin: 0 6px; }
/* line 76, ../scss/form.scss */
form ul.optionset li label {
  margin: 0; }
/* line 84, ../scss/form.scss */
form .message {
  margin: 15px;
  padding: 5px;
  width: 92%;
  color: #979908;
  border: 4px solid #F7F8B4;
  background: #FFFFEA; }
/* line 92, ../scss/form.scss */
form span.middleColumn .message {
  margin: 4px 0 0 3px; }
/* line 95, ../scss/form.scss */
form .required {
  margin: 4px 0 0 3px;
  padding: 5px;
  width: 92%;
  color: #DC1313;
  border: 4px solid #FF7373;
  background: #FED0D0; }
