form {
  /* FIELD FORMATING
  ---------------------------------------- */
  /* SELECT DROPDOWN
  ---------------------------------------- */
  /* LABELS
  ---------------------------------------- */
  /* CHECKBOXES
  ---------------------------------------- */
  /* MESSAGEBOXS
  --------------------------------------------- */
}
form fieldset {
  border: 0;
}
form input.action, form input.text, form textarea, form select {
  font-family: Helvetic, Arial, sans-serif;
  font-size: 16px;
  color: #333;
  padding: 2px;
  /* INPUT BOXS
  ---------------------------------------- */
  /* ACTION BUTTONS
  ---------------------------------------- */
}
form input.action.action, form input.text.action, form textarea.action, form select.action {
  cursor: pointer;
}
form textarea {
  resize: vertical;
}
form ul {
  list-style: none;
}
form .middleColumn {
  display: block;
  margin: 0 10px 10px 0;
}
form .middleColumn .middleColumn {
  margin-right: 0;
}
form .middleColumn .message {
  margin: 0;
}
form select {
  width: auto;
}
form .typography label {
  display: block;
  margin: 10px 0 5px;
  color: #333;
  font-size: 16px;
}
form label.right {
  display: inline;
}
form ul.optionset {
  margin: 0;
  overflow: hidden;
}
form ul.optionset li {
  margin: 6px 0;
  clear: both;
}
form ul.optionset li input {
  float: left;
  margin: 0 6px;
}
form ul.optionset li label {
  margin: 0;
}
form .message, form .required {
  display: block;
  padding: 5px;
  border: 4px solid;
}
form .middleColumn .message, form .required {
  margin: 4px 0 0 3px;
}
form .message {
  margin: 15px;
  color: #979908;
  border-color: #F7F8B4;
  background: #FFFFEA;
}
form .required {
  color: #DC1313;
  border-color: #FF7373;
  background: #FED0D0;
}
