/* line 6, ../scss/typography.scss */
.typography p {
  color: #666;
  line-height: 18px;
  font-size: 11px;
  margin: 0 0 18px 0; }
/* line 15, ../scss/typography.scss */
.typography blockquote {
  margin: 10px;
  font-size: 1.4em;
  color: #777;
  font-style: italic; }
/* line 21, ../scss/typography.scss */
.typography q {
  display: block;
  font-size: 0.8em;
  margin: 1em 1em;
  padding: 0.5em;
  border: 1px #ccc solid; }
/* line 32, ../scss/typography.scss */
.typography a {
  text-decoration: none;
  color: #3E91C4; }
/* line 36, ../scss/typography.scss */
.typography a:hover {
  text-decoration: underline; }
/* line 44, ../scss/typography.scss */
.typography a[href$=".pdf"], .typography a[href$=".PDF"], .typography a.pdf {
  padding: 2px;
  padding-left: 20px;
  background: url('../images/icons/page_white_acrobat.png?1366291364') no-repeat left center; }
/* line 51, ../scss/typography.scss */
.typography a[href$=".doc"], .typography a[href$=".DOC"], .typography a.doc {
  padding: 2px;
  padding-left: 20px;
  background: url('../images/icons/page_word.png?1366291364') no-repeat left center; }
/* line 58, ../scss/typography.scss */
.typography a[href$=".xls"], .typography a[href$=".XLS"], .typography a.xls {
  padding: 2px;
  padding-left: 20px;
  background: url('../images/icons/page_excel.png?1366291364') no-repeat left center; }
/* line 69, ../scss/typography.scss */
.typography a[href$=".gz"], .typography a[href$=".GZ"], .typography a[href$=".gzip"], .typography a[href$=".GZIP"], .typography a[href$=".zip"], .typography a[href$=".ZIP"], .typography a.archive {
  padding: 2px;
  padding-left: 20px;
  background: url('../images/icons/page_white_zip.png?1366291364') no-repeat left center; }
/* line 76, ../scss/typography.scss */
.typography a[href$=".exe"], .typography a[href$=".EXE"], .typography a.application {
  padding: 2px;
  padding-left: 20px;
  background: url('../images/icons/application.png?1366291364') no-repeat left center; }
/* line 86, ../scss/typography.scss */
.typography ul, .typography ol {
  margin: 0 0 18px 24px;
  color: #666; }
/* line 90, ../scss/typography.scss */
.typography ul li, .typography ol li {
  margin: 5px 10px;
  font-size: 11px; }
/* line 94, ../scss/typography.scss */
.typography ul li li, .typography ol li li {
  font-size: 10px; }
/* line 103, ../scss/typography.scss */
.typography h1, .typography h2 {
  color: #4EA3D7;
  margin: 0 0 18px 0;
  font-weight: 300; }
/* line 109, ../scss/typography.scss */
.typography h1 {
  font-size: 24px; }
/* line 112, ../scss/typography.scss */
.typography h2 {
  font-size: 20px; }
/* line 115, ../scss/typography.scss */
.typography h3 {
  color: #222;
  margin: 0 0 18px 0;
  font-weight: 300;
  clear: both;
  font-size: 18px; }
/* line 122, ../scss/typography.scss */
.typography h4 {
  font-size: 16px;
  color: #222;
  width: 95%;
  font-weight: 300;
  line-height: 18px;
  border-bottom: 1px solid #ccc;
  margin: 0 0 16px 0; }
/* line 131, ../scss/typography.scss */
.typography h5 {
  font-size: 14px;
  color: #222;
  font-weight: 700;
  margin: 0 0 12px 0; }
/* line 137, ../scss/typography.scss */
.typography h6 {
  font-size: 13px;
  color: #555;
  line-height: 1.4em;
  margin: 0 0 12px 0; }
/* line 146, ../scss/typography.scss */
.typography pre {
  font-family: "Courier New", Courier;
  display: block;
  font-size: 1.2em;
  margin: 2em 5em;
  padding: 0.5em;
  border: 1px #ccc solid;
  background: #eee; }
/* line 158, ../scss/typography.scss */
.typography table {
  margin: 0 0 18px 0;
  font-size: 11px;
  color: #666;
  border-collapse: collapse; }
/* line 163, ../scss/typography.scss */
.typography table td {
  border: 1px solid #999;
  padding: 5px; }
/* line 171, ../scss/typography.scss */
.typography .left {
  text-align: left; }
/* line 174, ../scss/typography.scss */
.typography .center {
  text-align: center; }
/* line 177, ../scss/typography.scss */
.typography .right {
  text-align: right; }
/* line 183, ../scss/typography.scss */
.typography img {
  border: none; }
/* line 186, ../scss/typography.scss */
.typography img.right {
  float: right;
  margin-left: 20px; }
/* line 190, ../scss/typography.scss */
.typography img.left {
  float: left;
  margin-right: 20px; }
/* line 194, ../scss/typography.scss */
.typography img.leftAlone {
  float: left;
  margin-right: 100%; }
/* line 198, ../scss/typography.scss */
.typography img.rightAlone {
  float: right;
  margin-left: 100%; }
/* line 202, ../scss/typography.scss */
.typography img.center {
  float: none;
  margin-left: auto;
  margin-right: auto;
  display: block; }
