@import "compass";
@import "mixins";

/* =============================================================================
   colors
   ========================================================================== */

$selection-background-color: #000;
$selection-color: #fff;
$textcolor: #ccc;