// this file should be included into all other files, here you can add variables and mixins

@import "compass";
@import "includes/mixins";
@import "includes/media-queries";

$text-color: #333 !default;
$link-color: #1122CC !default;
$font-family: Helvetic, Arial, sans-serif !default;
$font-size: 12px !default;