// this file should be included into all other files, here you can add variables and mixins

@import "compass";

// easily create a linear gradient without worrying about different prefixes of IE fallback
// NOTE: the IE fallback also applies to modern IE, so make sure you set "filter: none !important;" on IE > 8
@mixin simple-gradient($start-color, $end-color, $orientation: vertical, $svg-fallback: true) {
	background-color: $start-color;
	@include filter-gradient($start-color, $end-color, $orientation);
	$orientation: if($orientation == vertical, top, left);
	$experimental-support-for-svg: $svg-fallback;
	@include background-image(linear-gradient(top, $start-color 0%, $end-color 100%));
	@include background-clip(padding-box);
}

// creates an RGBa background, and uses filter as fall back for old IE
@mixin rgba-background($color, $opacity) {
	$rgba: rgba($color, $opacity);
	$IEcolor: ie_hex_str($rgba);
	@include filter-gradient($rgba, $rgba, "vertical");
	background: $rgba;
}

@mixin easy-font-face($name, $font-file, $bold: false, $italic: false) {
	$eot: "#{$font-file}.eot";
	$iefont: unquote("#{$eot}?iefix");
	$font-files: font-url($iefont) unquote("format('eot')"), font-files("#{$font-file}.ttf", truetype, "#{$font-file}.woff", woff, "#{$font-file}.otf", opentype, "#{$font-file}.svg", svg);
	@font-face {
		font-family: quote($name);
		src: font-url($eot);
		src: $font-files;
	}

	@if $bold {
		$font-file: "#{$font-file}-bold";
		$eot: "#{$font-file}.eot";
		$iefont: unquote("#{$eot}?iefix");
		$font-files: font-url($iefont) unquote("format('eot')"), font-files("#{$font-file}.ttf", truetype, "#{$font-file}.woff", woff, "#{$font-file}.otf", opentype, "#{$font-file}.svg", svg);
		@font-face {
			font-family: quote("#{$name}-bold");
			font-weight: bold;
			src: font-url($eot);
			src: $font-files;
		}
	}

	@if $italic {
		$font-file: "#{$font-file}-italic";
		$eot: "#{$font-file}.eot";
		$iefont: unquote("#{$eot}?iefix");
		$font-files: font-url($iefont) unquote("format('eot')"), font-files("#{$font-file}.ttf", truetype, "#{$font-file}.woff", woff, "#{$font-file}.otf", opentype, "#{$font-file}.svg", svg);
		@font-face {
			font-family: quote("#{$name}-italic");
			font-style: italic;
			src: font-url($eot);
			src: $font-files;
		}
	}
}