@import "config";

form {
	fieldset {
		border: 0;
	}
	input.action, input.text, textarea, select {
		font-family: $font-family;
		@include rem(font-size, $font-size);
		color: $text-color;
		padding: 2px;

		/* INPUT BOXS
		---------------------------------------- */
		// TODO default styles

		/* ACTION BUTTONS
		---------------------------------------- */
		&.action {
			cursor: pointer;
		}
	}
	textarea {
		resize: vertical;
	}

	/* FIELD FORMATING
	---------------------------------------- */
	ul {
		list-style: none;
	}
	.middleColumn {
		display: block;
		@include rem(margin, 0 10px 10px 0);

		.middleColumn {
			margin-right: 0;
		}
		.message {
			margin: 0;
		}
	}

	/* SELECT DROPDOWN
	---------------------------------------- */
	select {
		width: auto;
	}

	/* LABELS
	---------------------------------------- */
	.typography label {
		display: block;
		@include rem(margin, 10px 0 5px);
		color: $text-color;
		@include rem(font-size, $font-size);
	}
	label.right {
		display: inline;
	}

	/* CHECKBOXES
	---------------------------------------- */
	ul.optionset {
		margin: 0;
		overflow: hidden;

		li {
			@include rem(margin, 6px 0);
			clear: both;

			input {
				float: left;
				@include rem(margin, 0 6px);
			}
			label {
				margin: 0;
			}
		}
	}

	/* MESSAGEBOXS
	--------------------------------------------- */
	.message, .required {
		display: block;
		@include rem(padding, 5px);
		@include rem(border, 4px solid);
	}
	.middleColumn .message, .required {
		@include rem(margin, 4px 0 0 3px);
	}
	.message {
		@include rem(margin, 15px);
		color: #979908;
		border-color: #F7F8B4;
		background: #FFFFEA;
	}
	.required {
		color: #DC1313;
		border-color: #FF7373;
		background: #FED0D0;
	}
}