@import "config";

*, *:before, *:after {
	margin: 0;
	padding: 0;
	// http://html5please.com/#box-sizing
	@include box-sizing(border-box);
}

html {
	// font-size has to be set to the body for the rem mixins to be accurate
	font-size: $rem-base;
	background: #E5DFE1;
	line-height: 1.4;
	color: $text-color;
	font-family: $font-family;
}

@include selection {
	background: #000;
	color: #fff;
	// Remove text-shadow in selection highlight: h5bp.com/i
	@include text-shadow(none);
}

/**
 * A better looking default horizontal rule
 */
hr {
	display: block;
	border: 0;
	@include rem(height, 1px);
	@include rem(border-top, 1px solid #ccc);
	@include rem(margin, 0 0 18px);
	padding: 0;
}

/**
 * Remove the gap between images, videos, audio and canvas and the bottom of
 * their containers: h5bp.com/i/440
 */
audio,
canvas,
img,
svg,
video {
	vertical-align: middle;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

caption, th, td {
	text-align: left;
	font-weight: normal;
}

.clear {
	clear: both;
}