@import "config";

.typography {
	@include rem(font-size, $font-size);

	// * PARAGRAPHS
	// -------------------------------------------- */
	p {
		@include rem(line-height, 18px);
		@include rem(margin, 0 0 18px);
	}

	// * QUOTES
	// -------------------------------------------- */
	blockquote {
		@include rem(margin, 10px);
		font-size: 1.4em;
		color: #777;
		font-style: italic;
	}
	q {
		display: block;
		font-size: 0.8em;
		margin: 1em 1em;
		padding: 0.5em;
		@include rem(border, 1px #ccc solid);
	}

	// * LINKS
	// -------------------------------------------- */
	a {
		text-decoration: none;
		color: $link-color;

		&:hover {
			text-decoration: underline;
		}
	}

	// * LIST STYLES
	// -------------------------------------------- */
	ul,
	ol {
		@include rem(margin, 0 0 18px 24px);

		li {
			@include rem(margin, 5px 10px);
		}
		li li {
			@include rem(font-size, 10px);
		}
	}

	// * HEADER STYLES
	// -------------------------------------------- */
	h1, h2, h3, h4, h5, h6 {
		@include rem(margin, 0 0 18px);
		font-weight: 300;
	}
	h4 {
		@include rem(margin, 0 0 16px);
	}
	h5, h6 {
		@include rem(margin, 0 0 12px);
	}
	$headlines: (32px, 28px, 24px, 22px, 20px, 18px);
	@for $i from 1 through length($headlines) {
		h#{$i} {
			@include rem(font-size, nth($headlines, $i));
		}
	}

	// * PRE STYLES
	// -------------------------------------------- */
	pre {
		font-family: "Courier New", Courier;
		display: block;
		font-size: 1.2em;
		margin: 2em 5em;
		padding: 0.5em;
		@include rem(border, 1px #ccc solid);
		background: #eee;
	}

	// * TABLE STYLING
	// -------------------------------------------- */
	table {
		@include rem(margin, 0 0 18px);
		border-collapse: collapse;

		td {
			@include rem(border, 1px #999 solid);
			@include rem(padding, 5px);
		}
	}

	// * WYSIWYG EDITOR ALIGNMENT CLASSES
	// -------------------------------------------- */
	.left {
		text-align: left;
	}
	.center {
		text-align: center;
	}
	.right {
		text-align: right;
	}

	// * IMAGES
	// -------------------------------------------- */
	img {
		border: none;
		max-width: 100%;

		&.right {
			float: right;
			@include rem(margin-left, 18px);
		}
		&.left {
			float: left;
			@include rem(margin-right, 18px);
		}
		&.leftAlone {
			float: left;
			margin-right: 100%;
		}
		&.rightAlone {
			float: right;
			margin-left: 100%;
		}
		&.center {
			float: none;
			margin-left: auto;
			margin-right: auto;
			display: block;
		}
	}
}