@import "config";

.typography {
	font-size: $font-size;

	// * PARAGRAPHS
	// -------------------------------------------- */
	p {
		line-height: 18px;
		margin: 0 0 18px 0;
	}

	// * QUOTES
	// -------------------------------------------- */
	blockquote {
		margin: 10px;
		font-size: 1.4em;
		color: #777;
		font-style: italic;
	}
	q {
		display: block;
		font-size: 0.8em;
		margin: 1em 1em;
		padding: 0.5em;
		border: 1px #ccc solid;
	}

	// * LINKS
	// -------------------------------------------- */
	a {
		text-decoration: none;
		color: $link-color;

		&:hover {
			text-decoration: underline;
		}
	}

	// * LIST STYLES
	// -------------------------------------------- */
	ul,
	ol {
		margin: 0 0 18px 24px;

		li {
			margin: 5px 10px;
		}
		li li {
			font-size: 10px;
		}
	}

	// * HEADER STYLES
	// -------------------------------------------- */
	h1, h2, h3, h4, h5, h6 {
		margin: 0 0 18px 0;
		font-weight: 300;
	}
	h1 {
		font-size: 30px;
	}
	h2 {
		font-size: 26px;
	}
	h3 {
		font-size: 22px;
	}
	h4 {
		font-size: 20px;
		margin: 0 0 16px 0;
	}
	h5 {
		font-size: 18px;
		margin: 0 0 12px 0;
	}
	h6 {
		font-size: 16px;
		margin: 0 0 12px 0;
	}

	// * PRE STYLES
	// -------------------------------------------- */
	pre {
		font-family: "Courier New", Courier;
		display: block;
		font-size: 1.2em;
		margin: 2em 5em;
		padding: 0.5em;
		border: 1px #ccc solid;
		background: #eee;;
	}

	// * TABLE STYLING
	// -------------------------------------------- */
	table {
		margin: 0 0 18px 0;
		border-collapse: collapse;

		td {
			border: 1px solid #999;
			padding: 5px;
		}
	}

	// * WYSIWYG EDITOR ALIGNMENT CLASSES
	// -------------------------------------------- */
	.left {
		text-align: left;
	}
	.center {
		text-align: center;
	}
	.right {
		text-align: right;
	}

	// * IMAGES
	// -------------------------------------------- */
	img {
		border: none;
		max-width: 100%;

		&.right {
			float: right;
			margin-left: 20px;
		}
		&.left {
			float: left;
			margin-right: 20px;
		}
		&.leftAlone {
			float: left;
			margin-right: 100%;
		}
		&.rightAlone {
			float: right;
			margin-left: 100%;
		}
		&.center {
			float: none;
			margin-left: auto;
			margin-right: auto;
			display: block;
		}
	}
}