@import "base";

/* =============================================================================
   additional general settings
   ========================================================================== */

* {
    margin: 0;
    padding: 0;
}

body {
    color: #333;
    font-size: 62.5%;
    font-family: Verdana, Lucida, sans-serif; 
}

html {
    background: #E5DFE1;
}

caption, th, td {
    text-align: left;
    font-weight: normal;
}

.clear{
    clear: both;
}


/* =============================================================================
   Layout
   ========================================================================== */

.container { 
	width: 999px;
	margin: 20px auto;
	
	.layout {
		background: #FFF;
		padding: 20px;
		
		.content {
		}
	}
}

/* =============================================================================
   Navigation
   ========================================================================== */

nav {
    ul {
        background: yellow;
        li {
            
        }
    }
}